<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Leena Card - Wallet Recharge</title>
    </head>
    <body>
        Hi<br/>
        <br/>
        A user, <b><%=payload.name%></b> has added <%=payload.amount%>KD on his wallet and details as below<br/>
        <br/>
        User Name: <%=payload.name%><br/>
        <br/>
        Amount: <%=payload.amount%><br/>
        <br/>
        Payment method: <%=payload.method%><br/>
        <br/>
        Thanks<br/>
        <br/>
        Leena Cards<br/>
        <br/>
    </body>
</html>