<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Leena Card - New User Registraton</title>
    </head>
    <body>
        Hi<br/>
        <br/>
        One new user has been registered on leena card app<br/>
        <br/>
        Customer Name: <%=payload.name%><br/>
        <br/>
        Customer Email: <%=payload.email%><br/>
        <br/>
        Customer Number: <%=payload.phone%><br/>
        <br/>
        Customer IP: <%=payload.ip%><br/>
        <br/>
        Customer Mobile Type: <%=payload.type%><br/>
        <br/>
    </body>
</html>