<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Leena Card - Wallet Recharge</title>
    </head>
    <body>
        Hi<br/>
        <br/>
        You have successfully recharged your wallet with <%=payload.amount%>KD <br/>
        <br/>
        Your order no: <%=payload.orderNo%><br/>
        <br/>
        Recharged Amount: <%=payload.amount%><br/>
        <br/>
        Account Balance: <%=payload.balance%><br/>
        <br/>
        Payment method: <%=payload.method%><br/>
        <br/>
        Thank you for using Lenna Cards<br/>
        <br/>
    </body>
</html>